html {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: bisque;
}

.container {
    display:flex;
}

.clm-l {
    width:300px;
    background-color: #3e8e41;
    height: 1000px;
}

.clm-r {
    width:auto;
    background-color: azure;
}

form {
    margin-top: 20px;
    display:block;
}

#name-div {
    margin-top: 30px;
}

.redaction {
    margin-top: 30px;
}

#submit-form {
    display: inline;
    margin-top: 50px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

header {
    background-color: aqua;
}

div button:hover {background-color:rgb(45, 116, 42)}

div button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.full_name {
    display:none;
}

header h2 {
    color:dimgray;
    text-align: center;
}

header h1 {
    color:blue
}

.top-description {
    color: blue;
    width: 75%;
    text-align: center;
    padding-left: 12.5%;
}

h1 {
    color:red;
    text-align: center;
    border: 8px solid red;
    width: 100%;
    margin: auto;
    
}

.hollow_pictures {

    border: 8px outset black;
    width: 30àpx;
    margin: auto;
    display: block;

}

p {
    text-align: center;
}

.dscpt {
    margin: auto;
    margin-top: 20;
}

@media (max-width:600px) {

    h1 {
        width: 75%;
    }

    p {
        width: 75%;
    }
}